@import url(../../src/libs/theme.css);


.heading {
    color: var(--bg-highlightColor);
   
}
button{
    background-color: var(--bg-highlightColor);
}
.cc{
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
    border-radius: 0.75rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding: 0.5rem;
}