@import url(../libs/theme.css);

.nav-bg{
	background-color: #c5a68f;
}
.logo_bg {
	background-color: var(--bg-highlightColor);
}

.space {
	margin-right: 6px;
	font-weight: bold;
	color: var(--heading-text);
}
.space:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: var(--bg-highlightColor);
	color: #fff;
}

.search-button{
	background-color: var(--bg-highlightColor);
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
}

.search-button:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}
.cart{
	align-content: center;
}
.login-btn{
	font-weight: bold;
	color: var(--heading-text);
	align-content: center;
	padding-left: 8px;
	padding-right: 8px;
}
.login-btn:hover {
	text-decoration: none;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	background-color: var(--bg-highlightColor);
	color: #fff;
}

@media only screen and (min-width: 768px) {
	.page {
		min-height: 53vh;
	}
}
@media only screen and (max-width: 768px) {
	.mf {
		display: block !important;
	}
}
